* {
    margin: 0;
}

/* Header Section Styles */
.header {
    background-image: url('../images/donation.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: rgb(74, 73, 73);
    background-blend-mode: multiply;
}

.banner {
    margin: 0 307px;
    align-items: center;
}

.banner-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 20px;
}

.banner-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px;
}

.banner-btn {
    padding-bottom: 175px;
    text-align: center;
}

.btn-primary {
    background: #FF5959;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 16px 12px;
}

/* Donate Today Section Style */
.donate-today {
    background: white;
    align-items: center;
}

.btn-container {
    margin: 0 375px;
}

.section-title {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-top: 130px;
    margin-bottom: 20px;
}

.section-description {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin: 0 375px 50px 375px;
    
}

.btn-container {
    display: flex;
    gap: 22px;
    margin-bottom: 60px;
}

.btn-secondary {
    background: #FAFAFA;
    border-radius: 5px;
    border: 0;
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    padding: 44px 25px;
}

.btn-secondary-other {
    background: white;
    border-radius: 5px;
    border: 1px solid #FF5959;
    color: #FF5959;
    font-weight: 700;
    font-size: 30px;
    padding: 44px 25px;
}

.today-input {
    margin: 0 375px;
}

.input-width {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
}

/* Donate Plan Section Style */
.today-btn {
    text-align: center;
}

.plan-container {
    display: flex;
    gap: 24px;
    margin: 0 157px;
}

.plan1 {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 30px;
}

.plan2 {
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 30px;
}

.plan3 {
    background: #FFF4D6;
    border-radius: 5px;
    padding: 30px;
}

.plan-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin-top: 30px;
    margin-bottom: 16px;
}

.plan-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* lives and Need Part Style */

.lives-container {
    display: flex;
    gap: 83px;
    margin: 0 157px;
    align-items: center;
}

.lives > img {
    height: 400px;
    width: 600px;
}

.lives-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-top: 130px;
    margin-bottom: 20px;
}

.lives-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 20px;
}

/* Updates Section Style */
.updates {
    margin-bottom: 130px;
}

.subscribe-container {
    margin: 0 315px;
    background: #FFF4D6;
}

.subscribe {
    display: flex;
    align-items: center;
    padding-top: 76px;
    padding-bottom: 76px;
    padding-left: 250px;
}

.input-primary {
    border-radius: 5px 0 0 5px;
    border: 0;
    padding: 16.5px 42px;
    background: #D9D9D9;
}

.btn-secondary-other-sub {
    background: #FF5959;
    border-radius: 0 5px 5px 0;
    border: 1px solid #FD6E0A;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 12px;
}

/* Footer Section Style */
.footer {
    background: #0B0D17;
    padding: 43px 650px;
    text-align: center;
}

.footer-title {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
}

.footer-description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}